.center {
  top: 100px;
  padding-left: 30px;
    padding-right: 30px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: purple;
}

h1 {
  color: white;
}

h3 {
  color: white;
}
